<h1>
    Get Data from a Server
</h1>
<div class="nav">
    <div class="navbar">

        <nav>
            <a routerLink="/dash-board">Dashboard</a>
            <a routerLink="/heroes">Heroes</a>
            <a routerLink="/HeroSearch">Hero-Search</a>
            <a routerLink="/Messages">Messages</a>
            <a routerLink="/Hero-detail">Heroes</a>
        </nav>
    </div>

<router-outlet></router-outlet>
<!-- <app-heroes></app-heroes> -->
<app-Hero-detail></app-Hero-detail>
<app-dashboard></app-dashboard>
<app-hero-search></app-hero-search>

</div>
